.wrapperDiv {
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  color: #000;
}

/* timezone */
.timeZonWrapper {
  background-color: antiquewhite;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.timeNew {
  padding: 5px 0px;
}
/* calender compo */
.rowWrapper {
  display: flex;
}
.dateday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  background-color: antiquewhite;
}
.hrs {
}
.border {
  border: 1px solid black;
}
